footer {
    background-image: url("https://0041b200f62b3b1e2348-1120f113e97866ae33baf6d37d9ffbd6.ssl.cf5.rackcdn.com/images/kraft-bg.jpg");
    section {
        @include grid-row();
    }
    .littlefootshrink {
        display: none;

        @include breakpoint(medium) {
            display: block;
        }
    }
}

#footer1 {
    h2 {
        @include grid-column(12);
        text-align: center;

        @include breakpoint(medium) {
            @include grid-column(8);
        }
    }

    p {
        @include breakpoint(medium) {
            @include grid-column(2);
        }
    }   
}

#footer2 {
    section {
        @include grid-column(12);
        text-align: center;

        @include breakpoint(medium) {
            @include grid-column(4);
        }
    }

    .flinks {
        @include breakpoint(medium) {
            @include grid-column(2);
        }
    }

    #femail {
        @include breakpoint(medium) {
            @include grid-column(4);
        }
    }
}

#footer4 {
    div {
        @include breakpoint(medium) {
            @include grid-column(4);
        }

        p {
            text-align: center;
            margin: 0;
        }
    }
}